*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

#viewer-container {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
}

.input-container {
    z-index: 1;
    position: absolute;
    margin: 16px;
    background-color: rgba(255,255,255,0.8);
    display: inline-block;
    padding: 10px;
}
